# Stops further searching for lombok.config
config.stopBubbling = true

# Add @lombok.Generated annotations
lombok.addLombokGeneratedAnnotation = true

# Add @java.beans.ConstructorProperties annotations
lombok.anyConstructor.addConstructorProperties = true

# Generate setters will 'chain'
lombok.accessors.chain = true

# Disable dangerous features
lombok.val.flagUsage = error
lombok.extensionMethod.flagUsage = error
